@using RealEstateWeb.ViewModels
@model CreateListingViewModel

<form class="mb-3" asp-controller="Listing" asp-action="Create" method="post">
    <fieldset>
        <legend class="fs-4">Informacije o zgradi</legend>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Address.City">Grad</label>
            <div class="col-sm-4">
                <select class="form-select" asp-for="Address.City" asp-items="Model.AllCities"></select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Address.Street">Ulica</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" asp-for="Address.Street">
                <span class="form-text text-danger" asp-validation-for="Address.Street"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Address.StreetNum">Broj ulice</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" asp-for="Address.StreetNum">
                <span class="form-text text-danger" asp-validation-for="Address.StreetNum"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Building.YearConstructed">Izgrađen</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" asp-for="Building.YearConstructed">
                <span class="form-text text-danger" asp-validation-for="Building.YearConstructed"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Building.NumOfFloors">Spratnost</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" asp-for="Building.NumOfFloors">
                <span class="form-text text-danger" asp-validation-for="Building.NumOfFloors"></span>
            </div>
        </div>
    </fieldset>
    <fieldset class="row mb-3">
        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Building.Elevator">
                <label class="form-check-label" asp-for="Building.Elevator">Lift</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Building.Parking">
                <label class="form-check-label" asp-for="Building.Parking">Parking</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Building.Garage">
                <label class="form-check-label" asp-for="Building.Garage">Garaža</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Building.Cctv">
                <label class="form-check-label" asp-for="Building.Cctv">Video nadzor</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Building.Intercom">
                <label class="form-check-label" asp-for="Building.Intercom">Interfon</label>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="fs-4">Informacije o stanu</legend>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Apartment.Floor">Sprat:</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" asp-for="Apartment.Floor">
                <span class="form-text text-danger" asp-validation-for="Apartment.Floor"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Apartment.Area">Površina:</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" asp-for="Apartment.Area">
                <span class="form-text text-danger" asp-validation-for="Apartment.Area"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Apartment.NumOfRooms">Broj soba:</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" asp-for="Apartment.NumOfRooms">
                <span class="form-text text-danger" asp-validation-for="Apartment.NumOfRooms"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Apartment.Price">Cena:</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" asp-for="Apartment.Price">
                <span class="form-text text-danger" asp-validation-for="Apartment.Price"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Apartment.State">Stanje:</label>
            <div class="col-sm-4">
                <select class="form-select" asp-for="Apartment.State" maxlength="255">
                    <option value="Izvorno">Izvorno</option>
                    <option value="Novo">Novo</option>
                    <option value="Renovirano">Renovirano</option>
                    <option value="Lux">Lux</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Apartment.Heating">Grejanje:</label>
            <div class="col-sm-4">
                <select class="form-select" asp-for="Apartment.Heating" maxlength="255">
                    <option value="Gradsko">Gradsko</option>
                    <option value="Etažno">Etažno</option>
                    <option value="Podno">Podno</option>
                    <option value="Struja">Struja</option>
                    <option value="Gas">Gas</option>
                    <option value="TA">TA</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Apartment.Equipment">Opremljenost:</label>
            <div class="col-sm-4">
                <select class="form-select" asp-for="Apartment.Equipment" maxlength="255">
                    <option value="Namešten">Namešten</option>
                    <option value="Polunamešten">Polunamešten</option>
                    <option value="Prazan">Prazan</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="items">Stvari:</label>
            <div class="col-sm-4">
                <select class="form-select" asp-for="Items" asp-items="Model.AllItems" multiple></select>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="fs-4">Uslovi zakupa</legend>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Terms.DateAvailable">Useljiv:</label>
            <div class="col-sm-4">
                <input class="form-control" type="date" asp-for="Terms.DateAvailable">
                <span class="form-text text-danger" asp-validation-for="Terms.DateAvailable"></span>
            </div>
        </div>
    </fieldset>
    <fieldset class="row mb-3">
        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Terms.Deposit">
                <label class="form-check-label" asp-for="Terms.Deposit">Depozit:</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Terms.ForStudents">
                <label class="form-check-label" asp-for="Terms.ForStudents">Za studente:</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Terms.ForWorkers">
                <label class="form-check-label" asp-for="Terms.ForWorkers">Za radnike:</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Terms.SmokingAllowed">
                <label class="form-check-label" asp-for="Terms.SmokingAllowed">Dozvoljeno pušenje:</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Terms.PetsAllowed">
                <label class="form-check-label" asp-for="Terms.PetsAllowed">Dozvoljeni ljubimci:</label>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="fs-4">Oglas</legend>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Listing.Title">Naslov:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" asp-for="Listing.Title">
                <span class="form-text text-danger" asp-validation-for="Listing.Title"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" asp-for="Listing.Description">Opis:</label>
            <div class="col-sm-4">
                <textarea class="form-control" asp-for="Listing.Description" cols="40" rows="10"></textarea>
                <span class="form-text text-danger" asp-validation-for="Listing.Description"></span>
            </div>
        </div>
    </fieldset>
    <input class="btn btn-primary" type="submit" value="Postavi">
</form>